certifi==2026.7.22
charset-normalizer==3.5.2
contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.1
idna==3.20
ImageIO==2.38.0
joblib==1.5.3
kagglehub==1.0.2
kagglesdk==0.1.37
kiwisolver==1.5.1
lazy-loader==0.6
matplotlib==3.10.8
networkx==3.7
numpy==2.3.5
packaging==26.3
pandas==2.2.3
pillow==12.3.0
protobuf==7.36.2
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.4
PyYAML==6.0.3
requests==2.34.2
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.0
six==1.17.0
threadpoolctl==3.7.0
tifffile==2026.9.20
tqdm==4.67.3
tzdata==2026.5
urllib3==2.8.0
